body{
    background-color: #1B1F27;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.area-login{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login{
    background-color: #181920;
    width: 355px;
    height: 320px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.login img {
    width: 110px;
    height: auto;
}


.login form{
    display: flex;
    width:100%;
    flex-direction: column;
    
    
}

.login input{
    margin-top: 10px;  
    text-transform:uppercase;
    color: #CBD0F7;
    background-color: #252A34;
    border:none;
    height: 45px;
    outline: none;
    border-radius: 6px;
    padding-left: 10px;
   

}

input::placeholder{
    color: #CBD0F7;
    font-size: 14px;
}

form [type="submit"]{
    display: block;
    background-color: #2c357a;
    font-size: 20px;
    font-weight: bold;;
    cursor: pointer;

}

p{
    color: #CBD0F7;

}

a{
    color: #5568FE;
    text-decoration: none;
    margin-left: 10px;

}
